<plugin name='selenium' version='0.3'>
  <resources>
    <resource>SeleniumController</resource>
    <resource>SeleniumTagLib</resource>
    <resource>UrlMappings</resource>
    <resource>DataSource</resource>
    <!--<resource>BookController</resource>
    <resource>Book</resource>-->
  </resources>
</plugin>