<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="30"/>
        <property name="maxIdle" value="10"/>
        <property name="maxWait" value="1000"/>
        <property name="defaultAutoCommit" value="true"/>
    </bean>
    
    <!-- OJB configurer that allows to use LocalDataSourceConnectionFactory -->
    <bean id="ojbConfigurer" class="org.springmodules.orm.ojb.support.LocalOjbConfigurer"/>

    <!-- Transaction manager for a single OJB PersistenceBroker -->
    <bean id="transactionManager" class="org.springmodules.orm.ojb.PersistenceBrokerTransactionManager"/>
    
    <!-- UserDao for OJB -->
    <bean id="userDao" class="org.appfuse.dao.ojb.UserDaoOjb"/>

    <!-- Add additional Dao definitions here -->
</beans>
