#set($springXhtmlCompliant = true)
<head>
    <title>${rc.getMessage("userForm.title")}</title>
    <link  href="styles/calendar.css"  type="text/css"  rel="stylesheet"/>
    <script type="text/javascript" src="scripts/calendar.js"></script>
    <script type="text/javascript" src="scripts/calendar-setup.js"></script>
    <script type="text/javascript" src="scripts/lang/calendar-en.js"></script>
</head>

#springBind("user.*")
#if ($status.error)
<div class="error">
    #foreach ($error in $status.errorMessages)
        ${error}<br/>
    #end
</div>
#end

<p>Please fill in user's information below:</p>
  
<form method="post" action="#springUrl('/userform.html')" id="userForm">
#springFormHiddenInput("user.id" '')
<table>
<tr>
    <th><label for="firstName">#springMessage("user.firstName"):</label></th>
    <td>
        #springFormInput("user.firstName" 'id="firstName"')
        #springShowErrors("<br/>" "fieldError")
    </td>
</tr>
<tr>
    <th><label for="lastName">#springMessage("user.lastName"):</label></th>
    <td>
        #springFormInput("user.lastName" 'id="lastName"')
        #springShowErrors("<br/>" "fieldError")
    </td>
</tr>
<tr>
    <th><label for="birthday">#springMessage("user.birthday"):</label></th>
    <td>
        #springFormInput("user.birthday" 'id="birthday" size="11"')
        <button id="birthdayCal" type="button" class="button"> ... </button> [#springMessage("date.format")]
        #springShowErrors("<br/>" "fieldError")
    </td>
</tr>
<tr>
    <td></td>
    <td>
        <input type="submit" class="button" name="save" value="Save"/>
      #if ($user.id)
        <input type="submit" class="button" name="delete" value="Delete"/>
      #end
      	<input type="submit" class="button" name="cancel" value="Cancel"/>
    </td>
</table>
</form>

<script type="text/javascript">
    Form.focusFirstElement($('userForm'));
    Calendar.setup(
    {
        inputField  : "birthday",      // id of the input field
        ifFormat    : "%m/%d/%Y",      // the date format
        button      : "birthdayCal"    // id of the button
    }
    );
</script>
